body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-image: url('https://repository-images.githubusercontent.com/586906527/05861902-b29d-41b7-b678-7e32749988bd');
}

.container {
  max-width: 400px;
  margin: 50px auto;
  padding: 20px;
  border: 1px solid black;
  border-radius: 5px;
  color: #0056b3;
  background-color: bisque;
}

h1 {
  text-align: center;
}

form input, form button {
  display: block;
  width: 100%;
  margin-bottom: 10px;
  padding: 8px;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  padding: 10px;
  border-bottom: 1px solid #ccc;
}

li:last-child {
  border-bottom: none;
}

button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}
